<h1 id='choiceSelected'><%=`You have chosen ${choice}!`%></h1>

<h1 id='cpuChoice'><%=`The CPU has chosen ${cpuChoice}`%> </h1>

<h1 id='result'><%=`${result}`%></h1>

<form action="/" method="GET">
<input type="submit" value="Play Again" id="playAgain">
</form>

