<link rel="stylesheet" href="styles.css">

<h1 class='heading' >Welcome to Rock, Paper, Scissors!</h1>
<hr>
<br>

<h2 class='enterName'>Please enter your name below:</h2>

<form class='homeForm' action="/name" method="POST">

<input type="text" name="userName" id="userName">
<input type="submit" value="Submit" id="submitButton">
</form>