<h1>Rock, Paper, Scissors</h1>

<h2 id='nameStored'><%= `Welcome ${name}. Click either Rock, Paper or Scissors to start the game.`%></h2>

<form action="/rock" method="POST">
<input type="submit" value="Rock" id="rockButton">
</form>

<form action="/paper" method="POST">
<input type="submit" value="Paper" id="paperButton">
</form>

<form action="/scissors" method="POST">
<input type="submit" value="Scissors" id="scissorsButton">
</form>