<h1>Rock, Paper, Scissors</h1>

<h2 id='nameStored'><%= `Welcome ${name}. Click either Rock, Paper or Scissors to start the game.`%></h2>

<form action="/game" method="POST">
<input type="submit" value="Rock" id="rockButton">
<input type="submit" value="Paper" id="paperButton">
<input type="submit" value="Scissors" id="scissorsButton">
</form>